# fly.toml app configuration file generated for recruitflow-uscaef on 2025-12-12T21:07:25+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'recruitflow-uscaef'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8000'
  TORCH_HOME = '/app/media/torch_cache'
  XDG_CACHE_HOME = '/app/media/cache'

[processes]
  app = 'gunicorn RecruitFlow.wsgi:application --bind [::]:8000 --workers 1 --threads 4 --timeout 300'

[[mounts]]
  source = 'recruitflow_data'
  destination = '/app/media'

[[services]]
  protocol = 'tcp'
  internal_port = 8000
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [[services.tcp_checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '30s'

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
