{% extends "base.html" %}

{% block title %}Регистрация — RecruitFlow{% endblock %}

{% block content %}
<div class="auth-page-bg">
    <div class="auth-card">

        <div class="auth-header">
            <div style="font-size: 40px; color: var(--primary-color); margin-bottom: 10px;">
                <i class="bi bi-rocket-takeoff"></i>
            </div>
            <h2>Создать аккаунт</h2>
            <p>Присоединяйтесь к управлению проектами</p>
        </div>

        <form method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <span class="helptext">{{ field.help_text }}</span>
                    {% endif %}

                    {% if field.errors %}
                        <div class="errorlist">
                            {% for error in field.errors %}
                                <div>• {{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn-auth">Зарегистрироваться</button>
        </form>

        <div class="auth-footer">
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        </div>
    </div>
</div>
{% endblock %}